body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: radial-gradient(transparent, hsl(0, 0%, 2%)),
    #333 url('/images/landscape.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  .home {
    color: white;
  }
  .login {
    border: 0.1rem solid darkgray;
    border-radius: 1rem;
    background: #eee;
    margin: auto;
    form {
      padding: 2rem;
      display: grid;
      text-align: center;
      max-width: 50vh;
      input {
        padding: 0.25rem 0.75em;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 2rem;
        color: #363636;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        margin-bottom: 0.5rem;
        outline: none;
        &[type='submit'] {
          color: #fff;
          background-color: rgb(62, 107, 226);
          border: 1px solid rgb(62, 107, 226);
        }
      }
    }
  }
}

.disclaimer {
  font-size: small;
  margin: 0.5rem 0 1rem 0;
}

.forgot {
  text-align: left;
  font-size: small;
  margin: 0 0 0.5rem 0.5rem;
}
