<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <link rel="manifest" href="/manifest.json" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>Hey, you need to enable JavaScript for this Web App to work :)</noscript>
    <div id="app"></div>
  </body>
</html>
